include *.txt
include *.rst
include LICENSE
recursive-include docs *
recursive-include testsuite *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-exclude testsuite *.pyc
recursive-exclude testsuite *.pyo
prune docs/_build
